*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-color: aqua; */
    background-image: url(hood.jpg);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: contain;
   

}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 300px;
    margin-top: 200px;
    border-radius: 25px;
    color: white;
     backdrop-filter: blur(5px);
    
}
input{
    border-radius: 8px ;
    padding: 8px ;
    background-color: white;
    border: none;

}
form button{
    border-radius: 4px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;

}
form button:hover{
    transform: scale(1.2);
    background-color: azure;

}