*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.first{
    color: white;
    background-color: black;
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    /* text-align: center; */
    justify-content: center;
    padding: 10px;
    font-size: 17px;
}
header{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}
.hsecond{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;


}
.third{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav{
    display: flex;
    gap: 30px;
}

nav li{
    text-decoration: none;
    list-style: none;

}
nav a{
    text-decoration: none;
    list-style: none;
    font-weight: 800;

}
.icon{
    font-size: 25px;
}
.third h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
  
}
.one1 img{
    width: 250px;
    height: 250px;
    border-radius: 26px;
    /* padding: 5px; */
}
.one1{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    box-shadow: 2px 4px 15px #ddd;
    width: 300px;
   

}
.text{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    
}
