*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color: rgb(167, 235, 167); 
   padding: 1px 5px;
   margin: 0px 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
header nav{
    display: flex;
    gap: 70px;
}
nav li{
    list-style: none;
}
nav li a{
    color: black;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
}
.Nur{
    display: flex;
    color: green;
    gap: 4px;
}
.Nur ion-icon{
    font-size: 40px;
    
}
.nat{
    display: flex;
    gap: 10px;

}
.nat button{
    border-radius: 15px;
    padding: 5px ;
    border: 2px solid black;
    background-color: rgb(248, 249, 248);
}
.nat .natt {
    background-color: green;
     padding: 5px ;
    border: 2px solid black;
    
}