* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}



body {
background: #f5f5f5;
color: #333;
}

.hero{
    /* border: 1px solid red; */
    background: url('sport1.jpg') center/cover no-repeat;
    height: 80vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center;  */
    /* padding-top: 100px;           */
    /* color: #fff; */
}

.navbar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    color: rgb(255, 255, 255);
    /* background: #fff; */
    /* position: fixed; */
    width: 100%;
    /* top: 0; */
    /* z-index: 10; */
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    /* border: 1px solid red; */
    align-items: center;
}
.nav-links .logo{
    font-size: 30px;
    font-weight: 600;
}
.nav-links .logo:hover{
       /* background-color: #f5b400; */
     color:  rgba(0, 0, 0, 0.963);
     transition: 0.3s;
}
.nav-links li{
    font-size: 20px;
    font-weight: 400;
}
.nav-links li:hover{
       color:  rgba(0, 0, 0, 0.963);
     transition: 0.3s;

}
.nav-icons{
    align-items: center;
    display: flex;
}


.nav-icons span {
    margin-left: 20px;
    cursor: pointer;
    /* border: 1px solid red; */
    font-size: 25px;
}
.nav-icons span:hover{
    color: rgba(0, 0, 0, 0.963);
     transition: 0.3s;

}
.hero-content{
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 13%;
    color: greenyellow;

}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.btnn{
    /* border: 1px solid red; */
    padding-top: 6%;
}

.btn{
    padding: 12px 30px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
  
}
.btn:hover{
    background-color: greenyellow;
    color: #0d0d0d;
    transition: -3;
}
.new-arrivals {
      /* border: 1px solid red; */
    padding: 60px;
    text-align: center;
    /* background: #fff; */
}
.products {
     /* border: 1px solid red; */
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


.product-card {
     /* border: 1px solid red; */
    background: #eee;
    height: 250px;
    border-radius: 10px;
}
.product-card img{
    height: 250px;
    width: 100%;
}
.promo {
       /* border: 1px solid red; */
    display: flex;
    background: #fff;
    margin: 80px;
    border-radius: 15px;
    /* overflow: hidden; */
}


.promo-img {
    width: 80%;
    background: url('accessories2.jpg') center/cover no-repeat;
    /* background-image: url(accessories.jpg); */
    height: 350px;
    border-radius: 15px;
}

.promo-text {
    padding: 40px;
    width: 100%;
}

.promo-text h1 {
    font-size: 70px;
    margin: 20px 0;
}

.collections {
    /* border: 1px solid red; */
    padding: 60px;
    text-align: center;
    background: #fff;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}



.collection-card {
    /* background-image: url(shoe1.jpg); */
    background: #ddd;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    /* width: 100%; */
}
.collection-card h3{
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 7%;
    color: rgba(255, 255, 255, 0.605);
    
}

.collection-card img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}
.footer {
     /* border: 1px solid red; */
    /* background: #111; */
    background:  #0d0d0d;
    padding: 60px;
    color: white;
    /* margin-top: 50px; */
     font-family: Arial, sans-serif;
}
.newsletter {
    /* border: 1px solid red; */
    /* background-image: url(sport1.jpg); */
    text-align: center;
    margin-bottom: 40px;
}


.newsletter input {
    padding: 10px;
    width: 250px;
    border-radius: 7px;
    border: none;
    
}
.newsletter .btn{
    background-color: #ddd;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 40px;

}
.footer-col ul{
    list-style: none;
    margin-top: 10px;

}
.footer-col ul li {
    margin: 8px 0;
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    
}

.footer-col ul li:hover {
    opacity: 1;
}


.footer-logo {
    font-size: 48px;
    font-weight: bold;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-social {
    display: flex;
    /* flex-direction: column; */
    /* color: #eee; */
    gap: 15px;
    font-size: 25px;
}

.footer-social .icon {
    /* background: #222; */
    /* padding: 10px 12px; */
    /* width: 40px; */
    /* text-align: center; */
    /* border-radius: 5px; */
    /* cursor: pointer; */
}

.footer-social .icon:hover {
    /* background: #333; */
}
.footer-bottom {
    /* border: 1px solid red; */
    border-top: 1px solid #333;
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    /* font-size: 13px; */
    margin-top: 10%;
    width: 100%;
}

.footer-bottom-right {
    /* border: 1px solid red; */
    display: flex;
    gap: 25px;
    justify-content: right;
    /* text-align: right; */
}


