* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f8f8f8;
     /* background: url('h1.jpg') center/cover no-repeat; */
}
.navbar{
    /* width: 100%; */
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 1000; */
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: #222;
    transition: .3s;
}

.nav-links li a:hover {
    color: #0066cc;
}

.hero {
    height: 90vh;
    background: url('h1.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: white;
}

.hero-content {
 
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
}

.hero p {
    margin: 15px 0 25px;
    font-size: 20px;
}

.search-box {
    width: 100%;
    display: flex;
    background: white;
    padding: 8px;
    border-radius: 10px; 
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
    outline: none;
}

.search-box button {
    padding: 12px 25px;
    border: none;
    background: #003366;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.search-box button:hover {
    background: #0055aa;
}

.featured {
    padding: 70px 50px;
    text-align: center;
}

.featured h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.properties {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* flex-wrap: wrap; */
}

.card {
    background: white;
    border: 1px solid black;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .3s;
}
.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px;
    font-size: 22px;
}

.card p {
    margin: 0 15px 20px;
    color: #555;
}










