*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color:#EAE2D6;
   background: linear-gradient(135deg,#EAE2D6, #786447 );
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.top{

}

nav{
    display: flex;
    gap: 20px;
   

}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
   
    color: #111;
     font-size: 0.95rem;
     transition: color 0.3s ease;

}
nav a:hover {
  color: rgb(148, 140, 119);
}


.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-between; */
}
.abdex{
    font-weight: 300;
    font-style: italic;
    font-size: small;
    letter-spacing: 1px;
}
.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 50px;
}
sec1-text{
    flex: 1;
}
.sec1-text h1{
      font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
    
}
  
.sec1-text p{
    font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #444;

}
.sec1-text button{
     background-color: black;
  color: white;
  border: none;
  padding: 14px 34px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.sec1-text button:hover{
     background-color: transparent;
     border: 2px solid #000;
     font-weight: 600;
     color: #000;

}
.sec1-image{
    flex: 1;
    text-align: right;

}
sec1-image img{
     width: 80%;
     border-radius: 10px;
     object-fit: cover;
   
}
.pic img{
  
    width: 280px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, .5);
}
 
  